/*********/
//Landing Page Tempalte 003
/*********/
.page-template-template-landingpage-006 .html5-elem-box, .page-template-template-landingpage-003 .html5-elem-box, 
.page-template-template-landingpage-004 .html5-elem-box, .page-template-template-landingpage-005 .html5-elem-box,
.page-template-template-landingpage-007 .html5-elem-box, .page-template-template-landingpage-008 .html5-elem-box,
.page-template-template-landingpage-009 .html5-elem-box, .page-template-template-landingpage-010 .html5-elem-box,
.page-template-template-landingpage-011 .html5-elem-box, .page-template-template-landingpage-012 .html5-elem-box,
.page-template-template-landingpage-013 .html5-elem-box, .page-template-template-landingpage-014 .html5-elem-box,
.page-template-template-landingpage-015 .html5-elem-box, .page-template-template-landingpage-016 .html5-elem-box,
.page-template-template-landingpage-017 .html5-elem-box, .page-template-template-landingpage-018 .html5-elem-box,
.page-template-template-landingpage-019 .html5-elem-box, .page-template-template-landingpage-020 .html5-elem-box,
.page-template-template-landingpage-021 .html5-elem-box, .page-template-template-landingpage-022 .html5-elem-box,
.page-template-template-landingpage-023 .html5-elem-box, .page-template-template-landingpage-024 .html5-elem-box,
.page-template-template-landingpage-025 .html5-elem-box, .page-template-template-landingpage-026 .html5-elem-box,
.page-template-template-landingpage-027 .html5-elem-box{ 
    background: #228ddf;
    background: -moz-linear-gradient(left,#228ddf 1%,#052979 100%) !important;
    background: -webkit-linear-gradient(left,#228ddf 1%,#052979 100%) !important;
    background: linear-gradient(to right,#228ddf 1%,#052979 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#228ddf',endColorstr='#052979',GradientType=1) !important;
    border-radius: 3px;
} 


.page-template-template-landingpage-019 #lp_tnc_mob .lp_tnc_mob__content {
    background-color: rgba(75,145,175,0.8);
}

.page-template-template-landingpage-013 #lp001__header_mobile_contnet.temp002 p.xtrap__helper{
    padding-top: 0;
}
.page-template-template-landingpage-027 .main_char_mob_temp002 img{
    @include tranny;
    bottom: -7rem;
    width: 80%;
    margin: 0 auto;
}
.page-template-template-landingpage-026 .main_char_mob_temp002 img{
    @include tranny;
    bottom: 8rem;
    width: 100%;
    margin: 0 auto;
}
.page-template-template-landingpage-025 .main_char_mob_temp002 img{
    @include tranny;
    bottom: 6rem;
    width: 100%;
    margin: 0 auto;
}
.page-template-template-landingpage-024 .main_char_mob_temp002 img{
    @include tranny;
    bottom: 0rem;
    width: 50%;
    margin: 0 auto;
}

.page-template-template-landingpage-023 .main_char_mob_temp002 img{
    @include tranny;
    bottom: 5rem;
    width: 56%;
    margin: 0 auto;
}
.page-template-template-landingpage-023 #lp001__header_mobile_contnet.temp002 p {
    font-size: 0.9rem;
}
.page-template-template-landingpage-021 .main_char_mob_temp002 img{
    @include tranny;
    bottom: 6rem;
    width: 80%;
    margin: 0 auto;
}
.page-template-template-landingpage-022 .main_char_mob_temp002 img{
    @include tranny;
    bottom: 6rem;
    width: 80%;
    margin: 0 auto;
}
.page-template-template-landingpage-020 .main_char_mob_temp002 img{
    @include tranny;
    bottom: -0.5rem;
    width: 80%;
    margin: 0 auto;
}
.page-template-template-landingpage-019 .main_char_mob_temp002 img{
    @include tranny;
    bottom: -2.5rem;
    width: 100%;
    margin: 0 auto;
}
.page-template-template-landingpage-018 .main_char_mob_temp002 img{
    @include tranny;
    bottom: 7rem;
    width: 80%;
    margin: 0 auto;
}
.page-template-template-landingpage-017 .main_char_mob_temp002 img{
    @include tranny;
    bottom: -3rem;
    width: 80%;
    margin: 0 auto;
}
.page-template-template-landingpage-016 .main_char_mob_temp002 img{
    @include tranny;
    bottom: -2rem;
    width: 70%;
    right: -6rem;
    margin: 0;
}
.page-template-template-landingpage-015 .main_char_mob_temp002 img{
    @include tranny;
    bottom: -2rem;
    width: 80%
}
.page-template-template-landingpage-013 .main_char_mob_temp002 img{
    @include tranny;
    bottom: 2rem;
    width: 80%
}
.page-template-template-landingpage-014 .main_char_mob_temp002 img{
    @include tranny;
    bottom: 1rem;
    width: 80%
}
.page-template-template-landingpage-003 .main_char_mob_temp002 img {
    bottom: 75px;
    @include tranny;
}

.page-template-template-landingpage-004 .main_char_mob_temp002 img {
    bottom: 75px;
    @include tranny;
}

.page-template-template-landingpage-005 .main_char_mob_temp002 img {
    bottom: 0px;
    @include tranny;
    width: 100%
}

.page-template-template-landingpage-006 .main_char_mob_temp002 img {
    bottom: -27px;
    @include tranny;
    // width: 100%
}
.page-template-template-landingpage-012 .main_char_mob_temp002 img {
    bottom: -2rem;
    @include tranny;
    width: 82%
}

#lp001__header_mobile_contnet.temp002 img{
    padding: 0;
    display: block;
    margin: 0 auto 1rem;
}

.page-template-template-landingpage-007 #lp001__header_mobile_btns p.colored_btn_holder_mob {
    padding: 0;
}
.page-template-template-landingpage-007 #lp001__header_mobile_btns.temp002 {
    padding: 0;
}
.page-template-template-landingpage-007 .main_char_mob_temp002 img {
    display: block;
    margin: 0 auto;
    position: relative;
    bottom: -142px;
    width: 100%;
}
.main_bg_desk_lp001.temp002 .main_bg_desk_lp001__char img{
    @include tranny;
}

.page-template-template-landingpage-008 #lp001__header_mobile_contnet.temp002 h2.sub_big_title{
    font-size: 6rem;
    line-height: 76px;
}
.page-template-template-landingpage-008 #lp001__header_mobile_contnet.temp002 h3.sub_small_title{
    font-size: 3rem;
    font-family: "Bebas Neue",sans-serif;
    text-align: center;
    font-weight: 400;
    color: #fff;
    line-height: 1;
}
.page-template-template-landingpage-008 .main_char_mob_temp002 img{
    padding: 0;
    width: 100%;
    bottom: -15px;
}
.main_char_mob_temp002 img{
    @include tranny;
}
.page-template-template-landingpage-009 .main_char_mob_temp002 img{
    width: 96%;
}
.page-template-template-landingpage-009 #lp001__header_mobile_contnet.temp002 h1{
    font-size: 5rem;
}
#lp001__header_mobile_contnet.temp002 h1 {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.page-template-template-landingpage-010 .main_char_mob_temp002 img {
    width: 100%;
    bottom: -80px;
}

.page-template-template-landingpage-011 .main_char_mob_temp002 img{
    bottom: -10rem;
    width: 86%;    
}

#lp_tnc_mob .lp_tnc_mob__content p.add_link_yzz__mob{
    padding-top: 1rem;
}


/*--------------------------------------------------------------
# RESPONSIVE
--------------------------------------------------------------*/
@import "_lpt003_responsive";